{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- locations -->
	<div
		class="container c-section">
		<!-- todo: Roep All locations op en pas de title en subtitle aan. OK  -->
		{% set allLocations = craft.entries.section('locations').level(1).one() %}
		{# {{dump(allLocations)}} #}
		<h2 class="c-section__title">{{ allLocations.title }}</h2>
		<p class="c-section__subtitle">{{ allLocations.subtext }}</p>

		<div
			class="row justify-content-center c-section__content c-locations text-center">
			<!-- Roep alle children van All Locations op en loop ze over de lijst. Dit zijn de titels per kolom. Roep dan hiervan ook nog eens de children van op en laat deze de lijst vullen. -->

			{% set locations = allLocations.children.level(2).all() %}
			{# {{dump(locations)}} #}
			
			{% for provincies in locations %}


				<div class="col-12 col-sm-3 col-lg-2">
					<ul class="c-locations__list">

					{% set city = provincies.children.all() %}
					
						{% for cities in city %}
						<li class=" c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								{{cities.title}}
							</a>
						</li>
						{% endfor %}
						
					</ul>
				</div>

			{% endfor %}

			{# <div class="col-12 col-sm-3 col-lg-2">
								<ul class="c-locations__list">
									<li class="c-locations__list-item pb-2">
										<a class="c-locations__link " href="#">
											Antwerpen
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
			
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
			
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
								</ul>
							</div>
							<div class="u-hidden col-sm-3 col-lg-2">
								<ul class="c-locations__list">
									<li class="c-locations__list-item pb-2">
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
			
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
			
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
								</ul>
							</div>
							<div class="u-hidden col-sm-3 col-lg-2">
								<ul class="c-locations__list">
									<li class="c-locations__list-item pb-2">
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
			
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
									<li class="c-locations__list-item pb-2">
			
										<a class="c-locations__link " href="#">
											Gent
										</a>
									</li>
								</ul>
							</div> #}

	
	</div>
	<img class="col-12 mb-5" src="{{url('img/map.png')}}" alt="">


</div>{% endblock %}
